
@import "../shared/variables";

$brand-primary: #f59700;



//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.
$btn-primary-bg: $brand-primary;



//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               #fff;
//** Global text color on `<body>`.
$text-color:            $gray-dark;

//** Global textual link color.
$link-color:            #EEAE14; //$brand-primary;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%);
//** Link hover decoration.
$link-hover-decoration: underline;



//=== Inverted navbar
// Reset inverted navbar basics
$navbar-inverse-bg:                         #188C92;
$navbar-inverse-border:                     darken($navbar-inverse-bg, 10%);

// Inverted navbar links
$navbar-inverse-link-color:                 lighten($gray-light, 35%);
$navbar-inverse-link-hover-color:           #fff;
$navbar-inverse-link-active-bg:             darken($navbar-inverse-bg, 10%);

